:root{
    --primary-voilet: #8F00FF;
    --grey: #EBECED;
    --primary-dark: #272C33;
    --secondary-dark: #3F4652;
    --light-voilet: #cf9cf7;
    --primary-grey: rgb(148, 142, 142);
    --grey-1:rgb(177, 174, 174);
    --black:#000000;
}
button{
    border:none;
}